img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
img {
  pointer-events: none;
}
#movie-title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  height: 30px;
  /* white-space: nowrap; */
  /* background-color: red; */
}
.movie_card {
  padding: 0 !important;
  width: 270px;
  margin: 14px;
  height: 420px;
  border-radius: 5%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(-45deg, #090a0d, #063040, #3d5037, #583c4a);
  /* background-color: red; */
}

.movie_card img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 360px;
}
.card-title {
  color: #afafaf;
  font-size: medium;
}
.play_button {
  background-color: #0ed990;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  text-align: center;
}

.component {
  display: inline-block;
}

@media (max-width: 767px) {
  .component {
    display: block;
  }
}

.language-filter span {
  margin: 10px;
  /* border: solid black 1px; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10%;
  font-weight: 400;
  color: #fff;
}
.language-filter span:hover {
  cursor: pointer;
}

.language-filter {
  padding-bottom: 10px;
}
